In [29]:
import pandas as pd

In [5]:
#reading data
cars = pd.read_csv('Toyota.csv', index_col=0, na_values=['??','????'])

In [7]:
#creating a copy of the data
cars_2 = cars.copy()

In [13]:
#creating frequency table of fuel type
pd.crosstab(index=cars_2['FuelType'], columns = 'count', dropna=True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

In [14]:
#to create two way frequency table of gearbox type and fuel type
pd.crosstab(index = cars_2['Automatic'], 
            columns = cars_2['FuelType'],
            dropna = True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

In [17]:
#finding out the joint probability
pd.crosstab(index = cars_2['Automatic'], 
            columns = cars_2['FuelType'],
            normalize = True,
            dropna = True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

In [18]:
#finding out the marginal probability
pd.crosstab(index = cars_2['Automatic'], 
            columns = cars_2['FuelType'],
            normalize = True,
            margins = True,
            dropna = True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

In [20]:
#to get conditional probability if the index column has already occured
pd.crosstab(index = cars_2['Automatic'], 
            columns = cars_2['FuelType'],
            normalize = 'index',
            margins = True,
            dropna = True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [21]:
#to get conditional probability if the header row has already occured
pd.crosstab(index = cars_2['Automatic'], 
            columns = cars_2['FuelType'],
            normalize = 'index',
            margins = True,
            dropna = True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [25]:
#creating a new dataframe excluding object data types
num_data = cars_2.select_dtypes(exclude=[object])
print(num_data.shape)

(1436, 8)

In [28]:
#creating correlation matrix
corr_matrix = num_data.corr()
print(corr_matrix)

              Price       Age        KM        HP  MetColor  Automatic  \
Price      1.000000 -0.878407 -0.574720  0.309902  0.112041   0.033081
Age       -0.878407  1.000000  0.512735 -0.157904 -0.099659   0.032573
KM        -0.574720  0.512735  1.000000 -0.335285 -0.093825  -0.081248
HP         0.309902 -0.157904 -0.335285  1.000000  0.064749   0.013755
MetColor   0.112041 -0.099659 -0.093825  0.064749  1.000000  -0.013973
Automatic  0.033081  0.032573 -0.081248  0.013755 -0.013973   1.000000
CC         0.165067 -0.120706  0.299993  0.053758  0.029189  -0.069321
Weight     0.581198 -0.464299 -0.026271  0.086737  0.057142   0.057249

                 CC    Weight
Price      0.165067  0.581198
Age       -0.120706 -0.464299
KM         0.299993 -0.026271
HP         0.053758  0.086737
MetColor   0.029189  0.057142
Automatic -0.069321  0.057249
CC         1.000000  0.651450
Weight     0.651450  1.000000