In [1]:
import os
import pandas as pd

In [4]:
#reading dataframe and copying it
cars = pd.read_csv('Toyota.csv',index_col=0,na_values=['??','????'])
cars2=cars.copy()

In [12]:
#getting the total number of missing values
cars2.isna().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [16]:
#checks which columns have missing values
missing=cars2[cars2.isnull().any(axis=1)]

In [17]:
#getting the descriptive statistics of the dataframe
cars2.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1430.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,101.478322,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,14.768255,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000

In [19]:
#filling missing values of age with mean
cars2['Age'].fillna(cars2['Age'].mean(),inplace=True)

In [21]:
#filling the missing values of km with median
cars2['KM'].fillna(cars2['KM'].median(),inplace=True)

In [23]:
#filling missing values of horsepower with mean
cars2['HP'].fillna(cars2['HP'].mean(),inplace=True)

In [30]:
#filling missing values of fuel type with max count 
cars2['FuelType'].fillna(cars2['FuelType'].value_counts().index[0],inplace=True)

In [31]:
#filling missing values of metallic color with mode
cars2['MetColor'].fillna(cars2['MetColor'].mode().index[0],inplace=True)

In [32]:
cars2.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [33]:
cars3=cars2.apply(
    lambda x: x.fillna(x.mean()) if x.dtype=='float' else x.fillna(x.value_counts().index[0])
)#applies a function along an axis